.scrap-board {
	/*display: flex;
	flex-direction: column;*/
	position: absolute;
	width: 1820px;
	height: 100vh;
	top: 0;
	left: 0;
	justify-content: space-around;
	align-items: center;
}
.scrap-board-row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.note {
	float: left;
	margin-right: 10px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 300px;
	min-height: 200px;
	background-color: white;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 20px;
}

.image-note{
}

.text-note {
	padding: 10px;
}

.img-element {
	width: 94%;
}


.img-element img {
	width: 100%;
}

.text-element {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: -50%;
	padding: 5px 10px;
	background-color: rgba(255, 255, 255, 0.8);
}