body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: white;
	font-family: sans-serif;
	overflow: hidden;
}
.contact-title{
	margin-top: 5%;
	color: #d3bb74;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
	margin-bottom: 5%;
}
.contact-title h1{
	font-size: 32px;
	line-height: 10px;
}
.contact-title h2{
	font-size: 16px;
}

.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
form .submit{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}
form .submit:hover{
	background-color: #f44336;
	cursor: pointer;
}
.navbar-dark{
	background:#7a5e3a;
}

.navbar-dark .navbar-brand{
	font-family: 'Sacramento', cursive;
	color:#7a5e3a;
	font-size: 200%;
}

.navbar-dark .navbar-nav .nav-link:link {
	color: #ffffff;
	font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #ffffff;
	font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link:visited {
	color: #ffffff;
	font-weight: 700;
}

.navbar-dark .navbar-text{
	color:white;
	font-size: 150%;
}
#footer-logo-text {
	color: #ffffff;
	font-size: 36px;
	padding: 5px 10px 0px;
	border: 3px solid #ffffff;
	font-family: 'Sacramento', cursive;
	margin-bottom: 0px;
}