body {
	margin: 0;
	height: 100%;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	overflow: hidden;
}
.team-section{
	overflow: hidden;
	text-align: center;
	background: white;
	position: absolute;
	width:100%;
	height:auto;
	top: 10vh;
}
.team-section h1{
	margin-bottom: 0;
	color: #d3bb74;
	font-size: 40px;
	font-family: 'Sacramento', cursive;
}
.border{
	display: block;
	margin: auto;
	width: 160px;
	height: 3px;
	background: #7a5e3a;
	margin-bottom: 40px;
}

.border-contents{
	height: 40%;
	width: 100%;
	text-align: center;
	float: left;
}

.photo{
	margin-bottom: 40px;
}
.photo a{
	display: inline-block;
	margin: 32px;
	width: 160px;
	height: 160px;
	overflow: hidden;
	transform: rotate(45deg);
}
.photo a img{
	width: 100%;
	filter: grayscale(100%);
	transition: 0.4s all;
	transform: rotate(-45deg) scale(1.42);
}
.photo a:hover > img{
	filter: none;

}
.section{
	width: 600px;
	margin: auto;
	font-size: 28px;
	color: #d3bb74;
	text-align: justify;
	height: 0;
	overflow: hidden;
}
.section:target{
	height: auto;
}
.name{
	display: block;
	margin-bottom: 10px;
	text-align: center;
	font-size: 22px;
	font-family: 'Rajdhani';
}
.navbar-dark{
	background:#7a5e3a;
}

.navbar-dark .navbar-brand{
	font-family: 'Sacramento', cursive;
	color:#7a5e3a;
	font-size: 200%;
}

.navbar-dark .navbar-nav .nav-link:link {
	color: #ffffff;
	font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #ffffff;
	font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link:visited {
	color: #ffffff;
	font-weight: 700;
}

.navbar-dark .navbar-text{
	color:white;
	font-size: 150%;
}

#footer-logo-text {
	color: #ffffff;
	font-size: 36px;
	padding: 5px 10px 0px;
	border: 3px solid #ffffff;
	font-family: 'Sacramento', cursive;
	margin-bottom: 0px;
}